body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#site {
    display: grid;
    grid-template-rows: auto 1fr auto;
    width: 601px;
    height: 800px;
    background: url('./blurred_background.png');
    background-position: center;
    background-size: 100%;
    border: 1px solid red;
}

nav {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    gap: 10px;
    padding: 5px;
    background-color: #fffffe;
}

img {
    width: 90px;
}

#menu {
    display: flex;
    flex-direction: column;
    font-size: 5em;
}

#menu span {
    line-height: 10px;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
}

main>div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 20px;
    background-color: #fffffe;
    border-radius: 10px;
    filter: drop-shadow(0 0 0.4rem white);
}

h2 {
    margin: 0;
    font-size: 2em;
}

#loginForm {
    width: 90%;
    display: flex;
    flex-direction: column;
    padding: 10px;  
    align-items: center;
}

#loginForm>* {
    width: 80%;
}

input[type=text] {
    font-size: 1.3em;
    padding: 5px 10px;
    border-radius: 25px;
    outline: none;
    border: 1px solid black;
}

input[type=text]:focus {
    filter: drop-shadow(0 0 0.1rem blue);
}

input[type=submit] {
    font-size: 1.6em;
    padding: 5px 10px;
    border-radius: 25px;
    background-color: #4149b8;
    color: white;
    outline: none;
}

#loginForm>*:not(:first-child):not(a) {
    margin-top: 15px;
}

#loginForm a {
    margin: 3px;
}

footer {
    background-color: #fffffe;
    text-align: center;
}