* {
  box-sizing: border-box;
  list-style: none;
}

body {
  margin: 10px 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#mockupApp {
  height: 100vh;
  width: 769px;
  border-radius: 10px;
  border: solid 1px red;
  display: grid;
  grid-template-rows: auto 1fr auto;
  background-color: rgba(230, 230, 230, 0.898);
}
.mockupHeader {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  gap: 10px;
  padding: 5px;
  background-color: rgb(20, 65, 213);
}
img {
  width: 100%;
  height: auto;
}
.mockupHeader-img {
  width: 90px;
}
.menu-list {
  padding: 0;
  margin: 0;
  display: flex;
}
li {
  padding: 0.7rem;
  border: oldlace solid 1px;
  border-radius: 0.7rem;
}

#mockupMain {
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
#mockupMain > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60%;
  padding: 20px 50px 20px 50px;
  background-color: rgb(20, 65, 213);
  border-radius: 10px;
}
h2 {
  margin: 0;
  font-size: 2em;
  padding-bottom: 1rem;
  color: aliceblue;
}
p {
  color: aliceblue;
}
a {
  padding: 1rem;
  text-decoration: none;
  color: cornsilk;
}
input {
  width: 90%;
  padding: 0.75rem;
  border-radius: 0.75rem;
  margin: 3%;
  text-align: center;
  font-size: 1rem;
  font-weight: bolder;
  border: #1580e4 solid 2px;
  background-color: whitesmoke;
  color: darkblue;
}
button {
  width: 90%;
  padding: 0.75rem;
  border-radius: 0.75rem;
  font-size: 1rem;
  background-color: darkblue;
  color: aliceblue;
}
#mockupFooter {
  text-align: center;
  background-color: rgb(20, 65, 213);
  padding: 1rem;
}
