@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
  font-family: 'Montserrat', sans-serif;
}

#root {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  max-width: 1400px;
  margin: 0 auto;
  box-shadow: 0px 0px 15px 5px #515fc9;
}

header {}

header img {
  width: 7.75em;
  object-fit: cover;
}

.nav-link {
  font-size: 1.25rem;
  text-align: right;
  color: #515fc9 !important;
}

main {
  display: flex !important;
  justify-content: center;
  align-items: center;
  background-image: url('blurred_background.png');
  background-size: cover;
}

#loginForm {
  width: 95%;
  background-color: #f8f9fa;
  padding: 1rem .5rem;
  border-radius: 5px;
}

footer {
  padding: 1rem .25rem;
}

footer p {
  margin: 0;
  text-align: center;
  color: #515fc9;
}

footer a {
  color: #515fc9 !important;
  text-decoration: underline;
}

/* Tablet */

@media screen and (min-width: 600px) {
  #loginForm {
    width: 75%;
    padding: 2rem 1.5rem;
  }
}

/* TabletXL */

@media screen and (min-width: 768px) {
  #loginForm {
    width: 60%;
  }
}

/* PC */

@media screen and (min-width: 922px) {
  #loginForm {
    width: 50%;
  }
}