#root {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}

header {
}

header img {
  width: 7.75em;
  object-fit: cover;
}

.nav-link {
  font-size: 1.25rem;
  text-align: right;

  color: #515fc9 !important;
}

main {}

footer {
  padding: 1rem .25rem;
}

footer p {
  margin: 0;
  text-align: center;
  color:  #515fc9;
}

footer a {
  color: #515fc9 !important;
  text-decoration: underline;
}