@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
  font-family: 'Montserrat', sans-serif;
  user-select: none;
}

#root {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  max-width: 1400px;
  margin: 0 auto;
  box-shadow: 0px 0px 15px 5px #515fc9;
}

header img {
  width: 7.75em;
  object-fit: cover;
}

#welcomeContainer {
  color: #515fc9;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: 1rem;
}

#welcomeContainer>span:first-child {
  font-size: .7rem;
  text-align: right;
}

#welcomeUser {
  font-size: 1rem;
  line-height: .7;
  font-weight: 600;
}

.nav-link {
  font-size: 1.25rem;
  text-align: right;
  color: #515fc9 !important;
}

main {
  display: flex !important;
  justify-content: center;
  align-items: center;
  background-image: url('blurred_background.png');
  background-size: cover;
}

#loginForm, #registerForm, #updateForm, #testContainer, #passwordForm, #chatbotForm {
  background-color: #f8f9fada;
  padding: 1rem .5rem;
  border-radius: 5px;
  width: 95%;
}

#registerForm {
  margin: 1rem 0;
}

h1 {
  font-size: 1.75rem !important;
}

small {
  font-size: .7em !important;
}

.text-alert {
  color: crimson;
  font-weight: 500;
}

#moveTestBtns {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

#btnBack, #btnNext {
  background: none;
  border: none;
  padding: 0;
  font-size: 3rem;
  color: #515fc9;
  outline: none !important;
}

#btnBack:hover, #btnNext:hover {
  animation: move .6s infinite;
}

@keyframes move {
  0%{
    transform: scale(1);
  }
  33%{
    transform: scale(1.2);
  }
  66%{
    transform: scale(1.2);
  }
  0%{
    transform: scale(1);
  }
}

#btnBack:disabled, #btnNext:disabled {
  opacity: 0;
}

button[type=submit] {
  float: right;
  padding: .375rem 2rem;
  background-color: #515fc9 !important;
}

#submitTestBtn {
  width: 100%;
}

#questionContainer {
  height: 6.5rem;
}

#questionBeginning {
  font-weight: 600;
  color: #515fc9;
}

#questionEnding {
  font-weight: 500;
}

#testOptionContainer {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  gap: .35rem;
}

#testOptionContainer .form-check {
  padding: .3rem 0;
  display: flex;
  justify-content: center;
  border-radius: .25rem;
}

#testOptionContainer input {
  display: none;
}

#testOptionContainer label {
  flex-grow: 1;
  text-align: center;
  cursor: pointer;
}

.checkedRadio {
  background-color: #515fc9;
  color: white;
  font-weight: 700;
}

.uncheckedRadio {
  background-color: rgba(81, 95, 201, .25);
  color: black;
  font-weight: 500;
}

.uncheckedRadio:hover {
  background-color: #515fc9;
  color: white;
  font-weight: 600;
}

hr {
  margin: 0 0 1rem 0 !important;
  border-top: .125rem #515fc9 solid !important;
}

footer {
  padding: 1rem .25rem;
}

footer p {
  margin: 0;
  text-align: center;
  color: #515fc9;
}

footer a {
  color: #515fc9 !important;
  text-decoration: underline;
}

/* Tablet */

@media screen and (min-width: 600px) {
  #loginForm, #registerForm, #updateForm, #passwordForm, #chatbotForm, #testContainer {
    width: 75%;
    padding: 2rem 1.5rem;
  }
  #testOptionContainer {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1rem;
  }
}

/* TabletXL */

@media screen and (min-width: 768px) {
  #loginForm, #registerForm, #updateForm, #passwordForm, #chatbotForm, #testContainer {
    width: 60%;
  }
}

/* PC */

@media screen and (min-width: 922px) {
  #loginForm, #registerForm, #updateForm, #passwordForm, #chatbotForm, #testContainer {
    width: 45%;
  }

  .navbar-collapse {
    flex-grow: unset !important;
  }
  #welcomeContainer {
    margin-right: .5rem;
    padding-right: 1rem;
    border-right: #515fc9 1px solid;
  }
}